html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
@keyframes example {
	from {background-color: rgba(0,0,0,0.2);}
	to {background-color: rgba(100,100,100,0.8);}
}

.user-profile .table .input, .user-profile .table input[name="email"] {
	width: 100%;
	cursor: pointer;
}

.user-profile .table .input.disabled, .user-profile .table input[name="email"]  {

	cursor: not-allowed;
}

.user-profile .table .input:focus {
	outline-width: 1px;
	outline-color: #00517e;
}

.user-profile .profile-img {
	width: 100%;
}

.user-profile .profile-pic a  {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	background-color: rgba(100,100,100,0.8);
	color: white;
	font-weight: 800;
	display:none;
}

.user-profile .profile-pic:hover a {
	display: block;
	animation-name: example;
	animation-duration: 2s;
	background-color: rgba(100,100,100,0.8);

}

.user-profile select, .user-profile .datepicker {
	border: 1px solid #ccc;
	border-radius: 0;
	height: 30px;
}

.roomlist {
    margin-left: 10px;
    padding-bottom: 15px;
}

.roomlist.gallery {
    display: inline-block;
}

.roomlist td img  {
    width: 100px;
}

.roomlist .add-room, .userlist {
    position: absolute;
    top: 33px;
    right: 15px;
	display: inline-block;
}

.roomlist .col-sm-2 img {
    margin-top: 30px;
}
.content-wrapper, .right-side  {
	background-color: #f8f8f8;
	min-height: 550px;
}

.datepicker.input {
	border-radius: 0;
}

.room-picture .fa-times-circle-o {
    position: absolute;
    top: 40px;
    right: 30px;
    color: #890f0f;
    cursor: pointer;
}

#photogallery img {
    margin: 5px;
    width: 100%;
}