body {
	background: url(../image/background.gif);
}

#menu .navbar {
	margin-bottom: 0;
	border-radius: 0;
	background: #ffffff;
}

footer .nav > li > a:focus, footer .nav > li > a:hover {
    background-color: transparent;
}

.nav-top {
	background: #ffffff;
	height: 32px;
}

.nav-top .navbar-right {
	background: black;
	color: #ffffff;
	margin-right: 0;
}

.nav-top .navbar-right a:hover, .nav-top .navbar-right a:focus {
	background: none;
	text-decoration: underline;
}

.nav-top .navbar-right .phone {
	padding: 6px 4px;
}

.nav-top .navbar-right .booknow a:hover {
	background-color: #286090;
	border-color: #204d74;
	text-decoration: none;
}

.nav-top .navbar-right .booknow a {
	border-radius: 0;
}

.nav-top .navbar-right a {
	padding: 5px 10px;
	color: #ffffff;
}

.slider img {
	width: 100%;
}

.logo {
	font-size: 45px;
	font-family: "Times New Roman";
}

.teaser ul {
	list-style: none
}

.teaser ul li:before {
	content: "-";
	position: relative;
	left: -5px;
}

.teaser p {
	margin: 0px 25px 10px;
}

.about {
	margin: 0px 25px 10px;
}

.teaser img {
	width: 100%;
}

#slider {
	position: relative;
}

.slider .flex-direction-nav .flex-prev {
	position: absolute;
	top: 44%;
	right: auto;
	left: 30px;
	bottom: auto;
	background: url(../image/left-arrow.png) center no-repeat;
	-webkit-border-radius: 99%;
	-moz-border-radius: 99%;
	-o-border-radius: 99%;
	border-radius: 99%;
	height: 55px;
	width: 55px;
	opacity: 1;
}

.slider .flex-direction-nav .flex-next {
	position: absolute;
	top: 44%;
	right: 30px;
	left: auto;
	bottom: auto;
	background: url(../image/right-arrow.png) center no-repeat;
	-webkit-border-radius: 99%;
	-moz-border-radius: 99%;
	-o-border-radius: 99%;
	border-radius: 99%;
	height: 55px;
	width: 55px;
	opacity: 1;
}

.navbar-default .navbar-toggle {
	border-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #888;
}

.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}

.navbar-toggle .icon-bar {
	height: 3px;
	border-radius: 0;
	background: #000;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.check {
	background-color: #000000;

}

.home-footer {
	background-color: #000000;
    padding-left: 15px;
    padding-right: 15px;
}

.title-underline {
    border-bottom: 3px solid #40a5c3;
    width: 30px;
}

.title-block {
	background: #40a5c3;
	width: 48px;
	height: 3px;
	display: block;
	position: relative;
	left: 0;
	bottom: -3px;
}

.p-footer {
	color: #ffffff;
	margin-top: 30px;
}

.home-footer {
	margin-left: 0px;
	margin-right: 0px;
}

.home-footer hr {
	margin-toptit: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #817878;
	color: gray;
}

.title-footer{
    color: #ffffff;
}
.title-footer p{
    color: #ffffff;

}

.checkavaileble {
    background: #333;
    color: white;
    padding: 10px;
}

.title-underline {

}

.social .nav.navbar-nav li > a:hover {
	background: none;
}

.hr-line hr {
	margin-right: 0px;
	margin-left: 0px;
	border-top: 1px solid #817878;
	color: #000000;
}

.clearfix {
	background-color: #000000;
}

.booking-form {

}
.booking-form input, .booking-form select, .booking-form .btn {
    border: medium none;
    border-radius: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    width: 100%;
    padding-top: 0;
}

.contact-space {
	background-color: #f4f4f4;
}

.contact-space h3 {
	margin-left: 50px;
}

.container {
	background-color: #ffffff;
	padding-left: 0px;
	padding-right: 0px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.footer-mail {
	margin-top: 15px;
	color: #ffffff;
	padding-left: 0px;
    line-height: 0;
}

.footer-mail input  {
    border: medium none;
    border-radius: 0;
    width: 65%;
}
.SignUp {
	margin-right: 20px;
}

.btn-primary .SignUp {

}

.container {
	position: relative;
}

.row.check {
	position: absolute;
    border-bottom: 10px solid #40a5c3;
    left: 0;
    margin: -70px auto auto;
    right: 0;
    width: 80%;
	z-index: 9;
}

.home-reservation-box {
	padding: 30px 0
    height: 200px;
}

.home-reservation-box form {
    display: inline;
    line-height: 8;
}

.teaser-container {
	margin-top :80px;
}

.leave-comment{
    margin-left: 90px;
    margin-top: 50px;
}

#mainContain {
    min-height: 500px;
}

.main-picture {
    margin-bottom: 10px;
}

.roomlist .detail-room h2 {
    margin-top: 0;
}
.roomlist .description p {
    text-align: justify;
}
.roomlist .description h2 {
    margin-top: 40px;
}

.magnificPopup a img {
    margin: 2.2px;
}

.title {
    background-color: #EFEFEF;
    padding: 5px 30px;
    margin-top: 20px;
    font-size: 30px;
}

.list-room-book {
    height: 650px;
    overflow: auto;
}